In [4]:
#Importacion ded librerias
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [6]:
duplicados = df['brand'].duplicated()
duplicados

0    False
1     True
2    False
3     True
4     True
Name: brand, dtype: bool

In [8]:
duplicados = df.duplicated(subset=['brand'], keep='first')
duplicados

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [9]:
# df.drop_duplicates(subset=['brand'], keep='first', inplace=True)		
df_new = df.drop_duplicates(subset=['brand'], keep='first')
df_new

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5